$primaryColor: #ff4057;
$primaryColorDarker: #ec3c51;
$secondaryColor: #900048;
$tertiaryColor: #272727;
$lightWhite: #f3e9ee;
$widthAside: 250px;

.section__aside{
  .aside__content {
    display: flex;
    align-items: center;
    height: 100%;
    width: $widthAside;
    position: fixed;
    top: 60px;
    left: 0;
    background-color: $tertiaryColor;

    ul.aside__menu {
      height: 100%;
      padding: 30px 30px 80px 30px;
      list-style: none;
      overflow-y: scroll;

      .aside__menu__title{
        opacity: .8;
        // font-size: 13px;
        letter-spacing: 0.75px;
        margin: 50px 0 15px 0;
        font-weight: 500;
        color: white;

        &:first-child{
          margin-top: 0;
        }
      }

      .menu__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 23px;
        margin-bottom: 20px;
        color: white;
        opacity: 0.5;
        transition: opacity .5s ease-in-out;
        cursor: pointer;

        .menu__item__icon {
          height: 23px;
          margin-right: 15px;
          position: relative;
          img {
            height: 100%;
            transition: opacity .5s ease-in-out;
          }

          .icon--transition{
            position: absolute;
            opacity: 0;
          }

        }
        &:hover{
          opacity: 1;
          img{
            opacity: 0;
          }
          .icon--transition{
            opacity: 1;
          }
          .radio__label{
            opacity: 1;
          }
        }
      }

      .menu__item--checked{
        opacity: 1;
        .menu__item__icon{
          img{
            opacity: 0;
          }
          .icon--transition{
            opacity: 1;
          }
        }
      }

      li.menu__item--checkbox{
        opacity: 1;

        .checkbox__label{
          cursor: pointer;
          color: white;
          font-size: 23px;
          display: flex;
          align-items: center;
          opacity: .5;
          transition: .5s ease-in-out;

          &:before{
            content: '';
            display: inline-block;
            height: 15px;
            width: 15px;
            margin-right: 23px; // 15px for spacing + 7px because the difference between radio and icon 
            border-radius: 100%;
            border: 2px solid white;
            transition: background .25s ease-in-out;
          }
        }

        input{
          display: none;

          &:checked + .checkbox__label{
            opacity: 1;
            &:before{
              background-color: white;
            }
          }

        }
      }
    }
  }
}