// Montserrat
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
// Source Sans Pro
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap");

$primaryColor: #ff4057;
$primaryColorDarker: #ec3c51;
$secondaryColor: #900048;
$tertiaryColor: #272727;
$lightWhite: #f3e9ee;
// $tertiaryColor: #240041;
// $tertiaryColor: #111d5e;
$widthAside: 250px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #6d6d6d;
  list-style: none;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(155, 155, 155);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(127, 127, 127);
}

html,
body {
  height: 100%;
  font-family: Source Sans Pro, Roboto, Helvetica, Arial;
}

button,
input {
  font-family: Source Sans Pro, Roboto, Helvetica, Arial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  font-family: Montserrat;
}

.header {
  height: 60px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  opacity: 0;

  &__logo {
    height: 100%;
    width: $widthAside;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    background-color: $tertiaryColor;
    img {
      height: 30px;
      width: auto;
    }
  }

  &__search_bar {
    height: 100%;
    width: calc(100% - #{$widthAside});
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 30px;
    background-color: $primaryColor;

    .search_bar__field {
      width: 100%;
      display: flex;
      align-items: center;

      img {
        height: 1em;
        transform: scaleX(-1);
        margin-right: 10px;
      }

      input[type="text"] {
        color: white;
        font-size: 1.3em;
        width: 100%;
        background-color: transparent;

        &::placeholder {
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }
}

.header--fixed {
  position: fixed;
  top: 0;
  opacity: 1;
  z-index: 998;
}

.section {
  min-height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  &__aside {
    min-height: calc(100vh - 60px);
    width: $widthAside;
    padding: 30px 10px;
    background-color: $tertiaryColor;
  }

  &__main {
    min-height: calc(100vh - 60px);
    width: calc(100% - #{$widthAside});
    padding: 30px 30px;
    background-color: $lightWhite;
  }
}

.full_page {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  padding: 60px;
  background-color: $lightWhite;

  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .informations__footer {
    margin-top: 30px;
    width: 100%;

    .footer__title {
      font-size: 1.2em;
      font-weight: 500;
      color: #222;
    }

    .footer__frame {
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      overflow-x: scroll;
      overflow-y: hidden;
      position: absolute;
    }
  }
}

.footer {
  width: 100%;
  padding: 30px;
  padding-left: $widthAside + 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background-color: $tertiaryColor;

  .footer__made_by{
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(209, 209, 209);
    margin-bottom: 15px;

    a {
      color: rgb(209, 209, 209);
      font-size: 1.4rem;
      font-weight: 600;
      display: inline-block;
      z-index: 997;
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        margin-top: 2.5px;
        background-color: $primaryColor;
      }
    }
  }
  .footer__attributes{
    font-size: 12px;
    margin-top: 5px;

  }
}
