$lightWhite: #f3e9ee;

body::-webkit-scrollbar {
  display: none;
}

.full_page.person {
  background-color: black;
  max-height: 100vh;
  overflow-y: scroll;

  .person__content {
    height: 100%;
    width: 100%;
    box-sizing: content-box;
    display: flex;
    flex-flow: column nowrap;

    .content__person_photo {
      height: 100%;
      width: 100%;
      margin: 30px 0 0 0;
      text-align: center;

      img {
        height: 500px;
        width: auto;
        border-radius: 7px;
        // box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.2);
      }

      @media(max-width: 420px){
        margin: 0;
        img{
          width: 100%;
          object-fit: cover;
          border-radius: 0;
        }
      }
    }

    .content__person_informations {
      flex: 1 0 0;
      padding: 0 120px 30px;
      position: relative;

      .informations__topic_title {
        color: white;
      }

      .informations__name {
        margin: 20px 0 0 0;
        font-size: 3rem;
        text-align: center;
        color: white;
      }

      .informations__birthplace {
        margin-top: 10px;
        font-size: 1em;
        font-weight: 100;
        text-align: center;
        color: white;

        img {
          height: 1em;
          width: 1em;
        }
      }
      .informations__biography {
        width: 100%;
        margin: 10px 0 0 0;
        text-align: left;
        font-size: 1.3em;
        color: white;
      }

      @media(max-width: 775px){
        padding: 0 60px 30px;
      }

      @media(max-width: 620px){
        padding: 0 30px;
      }

      .informations__footer {
        .footer__frame {
          margin: 20px 0 0 0;
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
          gap: 30px;

          .frame__mini_movie {
            $heigth: 150px;
            height: $heigth;
            width: 100%;
            display: flex;

            .mini_movie__poster {
              height: 100%;
              width: $heigth;
              background-color: black;
              border-top-left-radius: 7px;
              border-top-right-radius: 7px;
              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-top-left-radius: 7px;
                border-bottom-left-radius: 7px;
              }
            }
            .mini_movie__content {
              height: 100%;
              flex: 1 0 0;
              padding: 10px;
              background-color: white;
              border-top-right-radius: 7px;
              border-bottom-right-radius: 7px;

              .mini_movie__content__title {
                font-size: 1rem;
                color: black;
              }

              .mini_movie__content__genres {
                font-size: 0.8rem;
                font-weight: 400;
                margin: 0;
              }

              .mini_movie__content__overview {
                font-size: 0.8rem;
                margin: 5px 0 0 0;

                .mini_movie__seemore {
                  cursor: pointer;
                  color: #0000ee;
                  padding: 0 2.5px;
                }
              }
            }
          }

          @media(max-width: 420px){
            grid-template-columns: 1fr;
            .frame__mini_movie{
              height: auto;
              flex-flow: column nowrap;
              .mini_movie__poster{
                height: 150px;
                width: 100%;
                img{
                  border-radius: 0;
                  border-top-left-radius: 7px;
                  border-top-right-radius: 7px;
                }
              }
              .mini_movie__content{
                height: auto;
                border-radius: 0;
                border-bottom-left-radius: 7px;
                border-bottom-right-radius: 7px;
              }
            }
          }
        }
      }
    }
  }
}
