// Montserrat
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");
// Source Sans Pro
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600&display=swap");

$primaryColor: #ff4057;
$primaryColorDarker: #ec3c51;
$secondaryColor: #900048;
$tertiaryColor: #272727;
$lightWhite: #f3e9ee;
$widthAside: 250px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #6d6d6d;
  list-style: none;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(155, 155, 155);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(127, 127, 127);
}

html,
body {
  height: 100%;
  font-family: Source Sans Pro, Roboto, Helvetica, Arial;
}

button,
input {
  font-family: Source Sans Pro, Roboto, Helvetica, Arial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: Montserrat;
}

.header {
  height: 60px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  opacity: 0;

  @media (max-width: 775px) {
    $duration: 0.5s;
    $delay: 0;

    figure.header__logo {
      width: 100%;
    }

    div.header__search_bar {
      width: calc(5.2rem + 40px); // 40px margin-left and right / 1.3 size icons * 4
      transition: $duration width;
      .search_bar__field {
        padding: 0;
        position: relative;
        display: flex;
        justify-content: flex-end;
        img {
          height: 1.3rem;
          margin: 0;
          cursor: pointer;
          &:first-child {
            margin-right: 10px;
          }
        }

        input[type="text"] {
          width: 0;
          transition: $duration width;
        }

        .search_bar__icon--none {
          display: inline-block;
          background-color: $primaryColor;
        }
      }
    }

    div.header__search_bar.search_bar--fullwidth {
      width: 100%;

      .search_bar__field {
        input[type="text"] {
          width: 100%;
          transition: $duration width;
          transition-delay: $delay;
        }
      }

      & + figure.header__logo {
        margin-left: -100%;
      }
    }
  }

  @media (max-width: 320px){

    figure.header__logo{
      img{
        height: 25px;
      }
    }

    div.header__search_bar{
      padding-left: 15px;
      padding-right: 15px;
      width: auto;
      .search_bar__field{
        padding: 0;
        display: flex;
        justify-content: center;
        img{
          height: 1.15em;
        }

        input[type="text"]{
          font-size: 1rem;
        }
      }
    }
  }

  @media (max-width: 280px){
    figure.header__logo{
      img{
        height: 20px;
      }
    }
  }
  
  @media (max-width: 250px){
    figure.header__logo{
      img{
        height: 15px;
      }
    }
    div.header__search_bar{
      .search_bar__field{
        img{
          height: 1rem;
        }
      }
    }
  }

  &__logo {
    order: 1;
    height: 100%;
    width: $widthAside;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    background-color: $tertiaryColor;
    transition: 0.5s margin-left;
    img {
      height: 30px;
      width: auto;
    }
  }

  &__search_bar {
    order: 2;
    height: 100%;
    width: calc(100% - #{$widthAside});
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 30px;
    background-color: $primaryColor;

    .search_bar__field {
      width: 100%;
      display: flex;
      align-items: center;

      img {
        height: 1em;
        transform: scaleX(-1);
        margin-right: 10px;
      }

      .search_bar__icon--none {
        display: none;
        margin: 0;
      }

      input[type="text"] {
        color: white;
        font-size: 1.3em;
        width: 100%;
        background-color: transparent;

        &::placeholder {
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }
}

.header--fixed {
  position: fixed;
  top: 0;
  opacity: 1;
  z-index: 998;
}

.section {
  min-height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  &__aside {
    // styled on AsideMenu component
  }

  &__main {
    min-height: calc(100vh - 60px);
    width: calc(100% - #{$widthAside});
    padding: 30px 30px;
    background-color: $lightWhite;
  }

  @media (max-width: 775px) {
    &__main {
      width: 100%;
    }
  }
}

.full_page {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  // padding: 60px;
  background-color: $lightWhite;

  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .informations__topic_title {
    margin: 30px 0 0 0;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 500;
    color: #222;
  }

  .informations__footer {
    padding: 0;
    width: 100%;
  }

  .full_page__close_button_field {
    position: absolute;
    top: 30px;
    right: 60px;
    z-index: 998;
    $sizeIcons: 35px;
    height: $sizeIcons;
    width: $sizeIcons;

    .full_page__close_button_field__figure {
      position: relative;
      cursor: pointer;
      height: $sizeIcons;
      width: $sizeIcons;

      img {
        height: 100%;
        width: 100%;
        position: relative;
        opacity: 0.7;
        transition: opacity 0.25s ease-in-out;
        z-index: 998;
      }

      &:hover img {
        opacity: 1;
      }

      .close_button_field__figure__img--absolute {
        position: absolute;
        opacity: 0;
      }
    }
  }
}

.footer {
  width: 100%;
  padding: 30px;
  padding-left: $widthAside + 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background-color: $tertiaryColor;

  .footer__made_by {
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(209, 209, 209);
    margin-bottom: 15px;

    a {
      color: rgb(209, 209, 209);
      font-size: 1.4rem;
      font-weight: 600;
      display: inline-block;
      z-index: 997;
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        margin-top: 2.5px;
        background-color: $primaryColor;
      }
    }
  }
  .footer__attributes {
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
  }

  @media(max-width: 775px){
    padding-left: 30px;

    .footer__made_by, .footer__made_by a{
      font-size: 1.2rem;
      margin-bottom: 5px;
    }
  }
}
